.btn {
  display: block;
  margin: 2rem 0;
  padding: 1.7rem 3.4rem;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background: $blue-color;
  border-radius: 3rem;
  transition: transform 0.2s linear;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
  }

  &:active {
    transform: scale(0.95);
  }
}
