.form {
  &__container {
    max-width: 90rem;
    margin: 4rem auto 0;
  }

  &__success {
    font-size: 3rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    font-family: 'DM Serif Display', 'Times New Roman', serif;
    text-align: center;
  }

  input,
  textarea {
    outline: none;
  }

  input:not([type='submit']),
  textarea {
    width: 100%;
    padding: 1.1rem 1.7rem;
    border: 1px solid #bfbfbf;
    border-radius: 0.5rem;
    font-family: Montserrat, 'serif';

    &::placeholder {
      color: $text-color;
    }
  }

  #form-name {
    margin-right: 1rem;
  }

  #form-message {
    margin-top: 2.8rem;
  }

  .btn {
    max-width: 20rem;
    margin-left: auto;
    font-family: Montserrat, 'Times New Roman', Times, serif;
    font-weight: 400;
  }

  @include respond(tab-port) {
    input,
    textarea,
    #form-message {
      margin: 1.6rem 0;
    }

    .btn {
      max-width: 26rem;
      padding-left: 6rem;
      padding-right: 6rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
