body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 1.6em;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.heading {
  font-family: 'DM Serif Display', 'Times New Roman', serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.8rem;

  &--small {
    font-size: 2.6rem;
  }

  @include respond(phone) {
    &--small {
      font-size: 2.9rem;
    }
  }
}

.t-center {
  text-align: center;
}
