.section-hero {
  padding-top: 4rem;
  padding-bottom: 12.4rem;

  &__img {
    display: block;
    max-width: 72%;
    margin: 0 auto 4rem;
  }
  &__heading {
    max-width: 75rem;
    margin: 0 auto 1.8rem;
  }

  &__text {
    max-width: 92rem;
    margin: 0 auto;
    font-size: 1.6rem;
  }

  @include respond(phone) {
    &__img {
      max-width: 100%;
    }

    padding-top: 6rem;
    padding-bottom: 8rem;
  }
}

.section-what {
  padding-bottom: 9.99rem;
  border-bottom: 1px solid #979797;

  .col-xs-12 {
    display: flex;
    flex-direction: column;
    padding: 0 2.5rem;
  }

  &__text {
    max-width: 84rem;
    margin: 0 auto 4.2rem;
    text-align: center;
  }

  &__image {
    display: block;
    width: auto;
    height: 29rem;
    margin: 0 auto;
  }

  &__item {
    font-size: 1.6rem;
    margin-top: -1.75rem;
  }

  &__btn {
    max-width: 18.6rem;
    margin: 0 auto;
    margin-top: auto;
  }

  @include respond(phone) {
    border-bottom: 0;

    .col-xs-12 {
      margin-bottom: 7rem;
      padding: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include respond(tab-port) {
    width: 92%;
  }
}

.section-software {
  padding-top: 7.4rem;
  padding-bottom: 6.9rem;
  border-bottom: 1px solid #979797;

  &__text {
    max-width: 78rem;
    margin: 0 auto 6rem;
  }

  &__text,
  .col-xs-12 p:not(:first-child) {
    font-size: 1.6rem;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: auto;
  }

  @include respond(phone) {
    text-align: center;
    width: 92% !important;

    &__img {
      max-width: 32rem;
      margin: 2rem auto;
    }
  }

  @include respond(tab-port) {
    width: 92% !important;
  }
}

.section-list {
  padding-top: 6.2rem;
  padding-bottom: 7.3rem;
  border-bottom: 1px solid #979797;

  ul {
    padding-left: 0;
    list-style-type: none;
    line-height: 2.6rem;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @include respond(phone) {
    text-align: center;
    border-bottom: none;
  }

  @include respond(tab-port) {
    img {
      max-width: 29rem;
      margin: 4rem auto -7rem;
    }
  }
}

.section-get {
  padding-top: 9.2rem;
  padding-bottom: 7.3rem;
  border-bottom: 1px solid #979797;

  @include respond(tab-port) {
    width: 92% !important;
  }
}
