/// Regular font family
$text-font-stack: Montserrat, 'Open Sans', 'Helvetica Neue Light',
  'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$text-color: #292929 !default;

$blue-color: #0600fe !default;

/// Container's maximum width
$max-width: 115rem !default;
