.footer {
  padding-top: 11rem;
  padding-bottom: 8.1rem;

  &__logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-1 {
    max-width: 20rem;
    height: auto;
  }

  &__logo-2 {
    width: 6.8rem;
    height: auto;
  }

  &__copyright {
    display: flex;
    flex-direction: column;

    p {
      font-size: 1.6rem;
    }

    p:last-child {
      margin-top: auto;
      margin-bottom: 0;
    }

    @include respond(phone) {
      margin-top: 6rem;

      p {
        text-align: right;

        &:first-child {
          display: none;
        }
      }

      order: 1;
    }
  }

  &__contact {
    margin-top: 4rem;
  }

  &__contact-methods {
    text-align: right;

    p,
    a {
      display: block;
      margin: 0;
      margin-left: auto;
      margin-top: 1.7rem;
      font-size: 1.6rem;
    }

    a {
      color: $text-color;
      text-decoration: none;
    }
  }

  &__copyright,
  &__contact-methods {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__link-up {
    display: none;

    @include respond(phone) {
      display: block;
      position: relative;
      top: -3rem;
    }
  }

  @include respond(tab-land) {
    width: 92%;
    padding-top: 8rem;
    padding-bottom: 2rem;
  }
}
