.header {
  display: flex;
  align-content: center;
  align-items: center;
  padding-top: 4.2rem;

  &__logo {
    max-width: 20rem;
    height: auto;
  }

  &__btn {
    display: block;
    width: 1.9rem;
    height: auto;
    margin-left: auto;
    cursor: pointer;
  }

  &__close {
    display: block;
    margin-left: auto;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }

  &__pushbar {
    padding: 3.7rem 2.1rem;
    background: $blue-color;

    a {
      display: block;
      width: 100%;
      color: #fff;
      text-decoration: none;
    }

    ul {
      padding-left: 0;
      list-style-type: none;

      li {
        margin-top: 1.6rem;
        padding-bottom: 1.6rem;
        border-bottom: 1px solid #ffffff;

        &:first-of-type {
          margin-top: 6.1rem;
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

  @include respond(phone) {
    padding-top: 2rem;

    &__btn {
      width: 2.2rem;
      height: auto;
    }
  }
}
