extends layout.pug
include mixins

block content
  section.container.section-hero
    img.section-hero__img(src="./public/sections/hero/hero-img.png", alt="software consultancy")
    h1.section-hero__heading.heading.t-center(data-aos='fade-up') A software consultancy, ready to boost your business with helpful advice. 
    p.section-hero__text.t-center(data-aos='fade-in')
      |Wave Computing makes IT easy. Wave Computing is a software consulting and development company based in Perth, 
      |Western Australia. We design software that is fast to build and cost effective whatever industry you work in.
  section.container.section-what#what
    h2.heading.t-center(data-aos='fade-up') What we can do for you
    p.section-what__text.t-center(data-aos='fade-in', data-aos-offset='200') We provide services ranging from the development of new products, interfacing between different systems, reporting and business intelligence to geospatial and mobile systems.
    .row
      .col-xs-12.col-md-4
        img.section-what__image(src="./public/sections/what/web.png", alt="Web apps", data-aos='fade-in')
        h3.heading.heading--small.t-center Web Apps
        p.section-what__item.t-center
          |Need to move your business to the cloud or want to allow more people to use a desktop application? Cloud based systems can reduce maintenance and provide enhanced capabilities.
          |Large amounts of data that need to be analysed? Interested 
          |in the possibilities of artificial intelligence?
        a.section-what__btn.btn(href='#get') Find out more
      .col-xs-12.col-md-4
        img.section-what__image(src="./public/sections/what/mobile.png", alt="Mobile apps", data-aos='fade-in', data-aos-delay='300')
        h3.heading.heading--small.t-center Mobile Apps
        p.section-what__item.t-center
          |We are able to make your mobile app ideas a reality. With so many users accessing the web via mobile or tablet why
          |not create an app for your business and make it easier for people to do business with you.
        a.section-what__btn.btn(href='#get') Find out more
      .col-xs-12.col-md-4
        img.section-what__image(src="./public/sections/what/desktop.png", alt="Desktop apps", data-aos='fade-in', data-aos-delay='600')
        h3.heading.heading--small.t-center Desktop Apps
        p.section-what__item.t-center
          |With the power of applications on your PC we are able to write applications that have sophisticated user
          |Interfaces and run through the complex day to day processes of running a business effortlessly.
        a.section-what__btn.btn(href='#get') Find out more

  section.container.section-software#software
    h2.heading.t-center(data-aos='fade-up') Software Development
    p.section-software__text.t-center(data-aos='fade-in', data-aos-offset='200')
      |We provide services ranging from the development of new products, 
      |interfacing between different systems, reporting and business intelligence to geospatial and mobile systems.
    .row
      .col-xs-12.col-sm-6.col-md-4
        img.section-software__img(src="./public/sections/software/software-img.png", alt="Software Development", data-aos='fade-in')
      .col-xs-12.col-sm-6.col-md-8
        p.heading.heading--small Software Integration
        p
          |Line of business applications (Order, Parts, Inventories and stock control, Scanning, Barcoding, Reporting, Business Insights, Dashboards)
        p
          |Conversion of desktop applications and Access applications to cloud and the web
          |Mobile, desktop and web apps
        p
          |Project Leadership and Product Planning
          |Custom Software Development – scoping, requirements, prototyping, training and support, documentation
        p
          | Legacy Systems – enhancements and new features, bug fixing and stabilisation, refactoring and modernisation
  section.row.container.section-list    
    .row.col-xs-12.col-md-8
      .col-xs-12.col-sm-6
        p.heading.heading--small Project Management
        ul
          li Team Leadership
          li Prince 2 Project Management
          li Agile Project Management
          li Product Management
          li Development Planning        
      .col-xs-12.col-sm-6
        p.heading.heading--small Existing Systems
        ul
          li Enhancements and New Features
          li Interfacing and Integration with new systems
          li Web and Cloud Migration
          li User Interface Modernisation
      .col-xs-12.col-sm-6
        p.heading.heading--small New products
        ul
          li Prototyping and Proofs of Concept
          li Scoping and Requirements Analysis
          li Training and Support
          li Software Documentation
    .col-xs-12.col-md-4
      img(src="./public/sections/list/list-img.png", alt="List of our services", data-aos='fade-in')

  section.container.section-get#get
    h2.section-get__heading.heading.t-center(data-aos='fade-up') Get in touch
    p.t-center(data-aos='fade-in', data-aos-offset='200') Get notified about company news, updates about the smarter way of developing web apps.
    +form()