doctype html
html(lang='en')
  head
    title Wave Computing - A software consultancy, ready to boost  your business with helpful advice. 
    meta(name='description', content='Wave Computing makes IT easy. Wave Computing is a software consulting and development company based in Perth, Western Australia. We work mainly in the manufacturing and natural resources industries and have specialised in mining and order management systems.')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://fonts.googleapis.com/css?family=Cabin|DM+Serif+Display|Montserrat:400,500&display=swap" rel="stylesheet")
  body
    header.header.container
      img.header__logo(src="./public/logo.png", alt="Wave Computing")
      img.header__btn(src="./public/icons/bars.png", alt="Open menu", data-pushbar-target="menu")
      .header__pushbar.pushbar.from_right(data-pushbar-id="menu")
        button.header__close(data-pushbar-close="") 
          img(src="./public/icons/close.png", alt="Close menu")
        nav
          ul
            li 
              a(href='#what') What we can do for you
            li 
              a(href='#software') Software development
            li 
              a(href='#get') Get in touch

              
    main
      block content
    footer.footer.container
      .footer__logos
        img.footer__logo-1(src="./public/logo.png", alt="Wave Computing")
        img.footer__logo-2(src="./public/logo-penguin.png", alt="Wave Computing")
      .row.footer__contact
        .footer__copyright.col-xs-12.col-sm-6
          p Proudly West Australian
          p ABN: 71 633 342 319
          p © Copyright 2019 Wave Computing
        .footer__contact-methods.col-xs-12.col-sm-6
          p 3 Tate Place, Kardinya, WA 6163
          a(href="tel:+0405525740") 0405 525 740
          a(href="mailto:sales@wavecomputing.com") sales@wavecomputing.com
      .footer__link-up
        a(href="#")
          img(src="./public/icons/arrow.png", alt="Go up")