mixin form
  form.form#form(action="https://script.google.com/macros/s/AKfycbwdmk2LbLrFtNMG04BZHrdSWGXzuk8xl6by1HB6lcpBXbFPkFpk/exec" method="POST")
    .row.form__container
      .col-xs-12.col-md-6
        input#form-name(type="text", name="name", placeholder="Name")
      .col-xs-12.col-md-6
        input#form-email(type="email", name="email", placeholder="Email")
      .col-xs-12
        textarea#form-message(name="message", cols="30", rows="10", placeholder='Write a message')
      .col-xs-12
        input.btn(type="submit", value="Send message")